<!DOCTYPE html>
<html lang="en">
<head>
    <% include common/head %>
</head>
<body>
<div class="container-fluid" id="wrapper">
    <div class="row">
        <nav class="sidebar col-xs-12 col-sm-4 col-lg-3 col-xl-2">
            <h1 class="site-title"><a href="http:/"><em class="fas fa-chart-line"></em>
                    IoT Analytics</a></h1>
            <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><em class="fa fa-bars"></em></a>
            <ul class="nav nav-pills flex-column sidebar-nav">
                <li class="nav-item"><a class="nav-link" href="./">Dashboard <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item"><a class="nav-link" href="#"> Charts</a></li>
                <li class="nav-item"><a class="nav-link active" href="/users"> Users</a></li>
                <li class="nav-item"><a class="nav-link" href="/speakers"> Speakers</a></li>
                <li class="nav-item"><a class="nav-link" href="/sessions"> Sessions</a></li>
            </ul>
            <a href="#" class="logout-button"><em class="fa fa-power-off"></em> Sign out</a>
        </nav>
        <main class="col-xs-12 col-sm-8 col-lg-9 col-xl-10 pt-3 pl-4 ml-auto">
            <header class="page-header row justify-center">
                <div class="col-md-6 col-lg-8">
                    <h1 class="float-left text-center text-md-left">Users / <%- userName %></h1>
                </div>
                <div class="dropdown user-dropdown col-md-6 col-lg-4 text-center text-md-right"><a
                            class="btn btn-stripped dropdown-toggle" href="#" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="username mt-1">
                            <h4 class="mb-1">Username</h4>
                            <h6 class="text-muted">Super Admin</h6>
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" style="margin-right: 1.5rem;"
                         aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#"><em class="fa fa-power-off mr-1"></em> Sign out</a></div>
                </div>
                <div class="clear"></div>
            </header>
            <section class="row">
                <div class="col-sm-12">
                    <div class="container py-2" id="user_timeline">
                        <script>
                            $(document).ready( function () {
                                let sessions = <%- JSON.stringify(sessions) %>;

                                if(sessions.length == 0)
                                {
                                    $('#user_timeline').append(
                                        '<p class="text-center" id="user_no_sessions_message"> User hasn\'t been in any session so far... </p>'
                                    )
                                }
                                else
                                {
                                    sessions.map((currElement, index) => {

                                        let date = new Date(currElement.startTime);
                                        date = date.toDateString() +  " " + date.toLocaleTimeString();
                                        let sessionName = currElement.name;
                                        let sessionId = currElement.id;

                                        let timeline_ele = '<div class="row no-gutters">\n';
                                        if((index % 2) == 0){
                                            timeline_ele += '<div class="col-sm"> <!--spacer--> </div>\n' +
                                                '<div class="col-sm-1 text-center flex-column d-none d-sm-flex">\n' +
                                                '<div class="row h-50">\n';

                                            if(index !=  0)
                                                timeline_ele += '<div class="col border-right">&nbsp;</div>\n' +
                                                    '<div class="col">&nbsp;</div>\n';
                                            else
                                                timeline_ele += '<div class="col">&nbsp;</div>\n' +
                                                    '<div class="col">&nbsp;</div>\n';

                                            timeline_ele += '</div>\n' +
                                                '<h5 class="m-2">\n' +
                                                '<span class="badge badge-pill timeline_badge">&nbsp;</span>\n' +
                                                '</h5>\n' +
                                                '<div class="row h-50">\n';


                                            if(sessions.length == (index + 1))
                                                timeline_ele += '<div class="col">&nbsp;</div>\n' +
                                                    '<div class="col">&nbsp;</div>\n';
                                            else
                                                timeline_ele += '<div class="col border-right">&nbsp;</div>\n' +
                                                    '<div class="col">&nbsp;</div>\n';

                                            timeline_ele +=
                                                '                                </div>\n' +
                                                '                            </div>\n' +
                                                '\n' +
                                                '                            <div class="col-sm py-2 ">\n' +
                                                '                                <div class="card timeline_card">\n' +
                                                '                                    <div class="card-body">\n' +
                                                '                                        <div class="float-right small">' + date + '</div>\n' +
                                                '                                        <h4 class="card-title "> <a href=' + "/sessions/" + sessionId + '> ' + sessionName + '</a></h4>\n' +
                                                '                                    </div>\n' +
                                                '                                </div>\n' +
                                                '                            </div>\n' +
                                                '                        </div>'
                                        }

                                        else
                                        {
                                            timeline_ele += '<div class="col-sm py-2">\n' +
                                                '                                <div class="card shadow timeline_card">\n' +
                                                '                                    <div class="card-body">\n' +
                                                '                                        <div class="float-right small">' + date + '</div>\n' +
                                                '                                        <h4 class="card-title"><a href=' + "/sessions/" + sessionId + '> ' + sessionName + '</a></h4>\n' +
                                                '                                    </div>\n' +
                                                '                                </div>\n' +
                                                '                            </div>\n' +
                                                '                            <div class="col-sm-1 text-center flex-column d-none d-sm-flex">\n' +
                                                '                                <div class="row h-50">\n' +
                                                '                                    <div class="col border-right">&nbsp;</div>\n' +
                                                '                                    <div class="col">&nbsp;</div>\n' +
                                                '                                </div>\n' +
                                                '                                <h5 class="m-2">\n' +
                                                '                                    <span class="badge badge-pill timeline_badge">&nbsp;</span>\n' +
                                                '                                </h5>\n' +
                                                '                                <div class="row h-50">\n';

                                            if((index + 1) !=  sessions.length)
                                                timeline_ele += '<div class="col border-right">&nbsp;</div>\n' +
                                                    '<div class="col">&nbsp;</div>\n';

                                            timeline_ele += '</div>\n' +
                                                '</div>\n' +
                                                '<div class="col-sm"> <!--spacer--> </div>\n' +
                                                '</div>'
                                        }

                                        $('#user_timeline').append(
                                            timeline_ele
                                        )
                                    });
                                }

                            })
                        </script>

                    </div>
                </div>
            </section>
        </main>
    </div>
</div>
</body>
</html>
